*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header */
.header-title{
  text-align: center;
  padding: 20px 0;
  background-color: rgb(61, 130, 80);
  color: white;
}

/* auth */
.auth-container{
  position: fixed;
  background-color: rgb(189, 189, 189);
  border-radius: 30px;
  font-size: 25px;
  width: 20%;
  padding: 0 5%;
  height: 47%;
  left: 40%;
  top: 21.5%;
}
.auth-container .auth-title{
  text-align: center;
  margin-bottom: 40px;
  padding-top: 40px;
}
.auth-container label{
  text-align: center;
}
.auth-container input{
  width: 100%;
  font-size: 20px;
  display: block;
  border: none;
  border-radius: 10px;
  padding: 7px 10px;
  outline: none;
}
.auth-container button{
  width: 100%;
  font-size: 20px;
  padding: 5px 0;
  display: block;
  margin-top: 40px;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
  background-color:white;
  color: rgb(61, 130, 80);
}
.auth-container button:hover{
  color:white;
  background-color: rgb(61, 130, 80);
}

/* main */
.chat-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

.chat-container .left-side{
  width: 80px;
  height: 100%;
  background-color: #1F1F1F;
}
.chat-container .left-side .mode-icon{
  width: 48px;
  font-size: 20px;
  margin: 20px auto;
  text-align: center;
  padding: 11px 0;
  background-color: #FF4E43;
  border-radius: 15px;
}
.chat-container .left-side .mode-group-hr{
  width: 90%;
  height: 2px;
  background-color: grey;
}
.chat-container .left-side .story-contain, .server-contain{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}
.chat-container .left-side .story-contain .story-icon{
  width: 48px;
  height: 48px;
  background-color: white;
  border-radius: 90px;
  border: 2px solid #1F1F1F;
  box-shadow: 0 0 0 1px lightgreen; 
}
.chat-container .left-side .server-contain .server-icon{
  width: 48px;
  height: 48px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 15px;
}
.chat-container .left-side .server-contain .server-icon.selected{
  background-color: #FF4E43;
}

.channel-contain, .friend-contain{
  width: 300px;
  height: 100%;
  background-color: #303134;
}

.my-status-contain {
  display: flex;
  gap: 10px;
  width: 280px;
  height: 60px;
  padding: 10px 5px;
  margin: 15px auto 0;
  align-items: center;
  background-color: #b23f8d;
  border-radius: 17px;
}
.my-icon {
  position: relative;
  border-radius: 50%;
  background-color: white;
  width: 40px;
  height: 40px;
  border: 2px solid #1F1F1F;
  box-shadow: 0 0 0 1px lightgreen;
}
.my-icon.stop::after{
  content: '';
  position: absolute;
  bottom: -3px;
  right: 2px;
  width: 25%;
  height: 25%;
  border-radius: 50%;
  background-color: red;
  border: #b23f8d 2px solid;
}
.my-icon.active::after{
  content: '';
  position: absolute;
  bottom: -3px;
  right: 2px;
  width: 25%;
  height: 25%;
  border-radius: 50%;
  background-color: green;
  border: #b23f8d 2px solid;
}
.my-name{
  color: white;
  font-size: 20px;
}

.friend-status-contain {
  display: flex;
  gap: 10px;
  width: 280px;
  height: 60px;
  padding: 10px 5px;
  margin: 15px auto 0;
  align-items: center;
  border-radius: 17px;
  color: white;
}
.friend-icon {
  position: relative;
  display: block;
  border-radius: 90px;
  background-color: white;
  width: 40px;
  height: 40px;
  border: 2px solid #1F1F1F;
  box-shadow: 0 0 0 1px lightgreen; 
}
.friend-icon.stop::after{
  content: '';
  position: absolute;
  bottom: -3px;
  right: 2px;
  width: 25%;
  height: 25%;
  border-radius: 50%;
  background-color: red;
  border: #1F1F1F 2px solid;
}
.friend-icon.active::after{
  content: '';
  position: absolute;
  bottom: -3px;
  right: 2px;
  width: 25%;
  height: 25%;
  border-radius: 50%;
  background-color: green;
  border: #1F1F1F 2px solid;
}
.friend-status-contain.selected{
  background-color: #7d859746;
}

.chat-contain {
  width: calc(100vw - 380px);
  height: 100%;
  background-color: #1F1F1F;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transition: 0.3s ease all;
}
.chat-contain.setting-open{
  width: calc(100vw - 680px);

}
.chat-content {
  width: 85%;
  height: calc(100% - 110px);
  margin: 0 auto;
  padding: 0 20px;
  overflow-y: auto;
}

.friend-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selected-friend {
  display: flex;
  gap: 10px;
  line-height: 80px;
  height: 80px;
  align-items: center;
  justify-content: center;
}

.selected-friend-name {
  color: white;
  font-size: 30px;
}

.friend-detail {
  color: grey;
  font-size: 35px;
}

.friend-hr {
  color: grey;
}

.chat-friend {
  display: flex;
  gap: 10px;
  margin: 30px 0;
  color: white;
  align-items: center;
}

.chat-friend.left {
  justify-content: flex-start;
}

.chat-friend.right {
  justify-content: flex-end;
}

.chat-friend-icon {
  display: block;
  position: relative;
  border-radius: 90px;
  background-color: white;
  width: 40px;
  height: 40px;
  border: 2px solid #1F1F1F;
  box-shadow: 0 0 0 1px lightgreen; 
}

.chat-friend-icon.stop::after {
  content: '';
  position: absolute;
  bottom: -3px;
  right: 2px;
  width: 25%;
  height: 25%;
  border-radius: 50%;
  background-color: red;
  border: #1F1F1F 2px solid;
}

.chat-friend-icon.active::after {
  content: '';
  position: absolute;
  bottom: -3px;
  right: 2px;
  width: 25%;
  height: 25%;
  border-radius: 50%;
  background-color: green;
  border: #1F1F1F 2px solid;
}
.left .chat-friend-name {
  text-align: left;
}
.right .chat-friend-name {
  text-align: right;
}
.chat-friend-name {
  font-size: 10px;
}

.chat-form {
  width: 100%;
  height: 80px;
  line-height: 80px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #1F1F1F;
  position: relative;
}

.form-option {
  color: grey;
  background-color: #303134;
  margin: 10px 0;
  width: 50px;
  height: 50px;
  border-radius: 90px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  align-items: center;
}

.form {
  width: 70%;
  height: 70px;
  line-height: 70px;
}

.form textarea {
  position: relative;
  resize: none;
  width: 100%;
  font-size: 20px;
  height: 70px;
  border-radius: 20px;
  outline: none;
  transition: 0.3s ease all;
  background-color: grey;
  padding: 10px 100px 0 20px;
  color: white;
}

.form textarea:focus {
  box-shadow: 0px 5px 10px 1px #d9d9d9;
}

.form button {
  font-size: 40px;
  position: absolute;
  bottom: 10px;
  background: none;
  border: none;
  outline: none;
  right: 185px;
}

/* change profile */
.change-profile-container {
  position: fixed;
  top: 90px;
  background-color: white;
  z-index: 100;
  width: 300px;
  height: calc(100% - 110px);
  display: none;
  background-color: #303134;
  padding-top: 20px;
}
.change-profile-container.show{
  display: block;
}
.change-profile-container .profile{
  padding: 7px 0 7px 20px;
  color: white;
  font-size: 20px;
}
.change-profile-container .profile:hover{
  background-color: #7d859746;
}
.mode-msg .mode-hr{
  width: 90%;
  margin: 13px auto;
}

.friend-setting-modal{
  position: fixed;
  z-index: 110;
  top: 0;
  width: 300px;
  height: 100vh;
  background-color: #303134;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease all;
  color: white;
}
.friend-setting-modal.hide{
  right: -300px;
}
.friend-setting-modal.show{
  right: 0;
}
.setting-title{
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.friend-setting-modal .setting{
  padding: 10px 10px;
  font-size: 20px;
  cursor: pointer;
}
.friend-setting-modal .setting:hover{
  background-color: #7d859746;
}
.friend-setting-modal .setting-close{
  padding: 10px 10px;
  font-size: 25px;
  cursor: pointer;
  text-align: center;

}
.friend-setting-modal .setting-close:hover{
  background-color: #7d859746;
}
.change-profile-modal{
  position: fixed;
  z-index: 120;
  top: 0;
  width: 300px;
  height: 100vh;
  background-color: #303134;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease all;
  color: white;
}
.change-profile-modal.hide{
  right: -300px;
}
.change-profile-modal.show{
  right: 0;
}
.change-profiles{
  padding: 10px 0 10px 25px;
  font-size: 25px;
}
.change-profiles:hover{
  background-color: #7d859746;
}